{% extends '::base.html.twig' %}
{% block title %}
{{ parent() }}
{% endblock %}
{% block menu_principal %}
<li class="active"><a href="#">Inicio</a></li>
{% endblock menu_principal%}
{% block contenedor_principal %}

<div>
    <h4><strong>
            <p class="text-center">Actas Reunion</p>
        </strong>
    </h4>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Seleccionar</th>
                <th>Numero</th>
                <th>Codigo</th>
                <th>Tema</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
              {% for acta in actas %}
            <tr>
                <td><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1"></td>
                <td>{{acta.id}}</td>
                <td>{{acta.codigo}}</td>
                <td>{{acta.descripcion}}</td>
                <td>{{ "now" | date("m/d/Y") }}</td>
            </tr>
              {% endfor %}
        </tbody>
    </table>
</div>
<div>

    
    <button type="button" class="btn btn-primary"  onclick="window.location = '{{ path('fup_univida_nueva_acta_reunion') }}'">Nueva</button>        

    <!-- Indicates a successful or positive action -->
    <button type="button" class="btn btn-success">Editar</button>


    <!-- Indicates a dangerous or potentially negative action -->
    <button type="button" class="btn btn-danger">Eliminar</button>

</div>
{% endblock contenedor_principal %}